.form-login-container {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    height: 307px;
    margin-top: 30px;
    padding: 10px;
}

.info-login-container {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 307px;
    margin-top: 30px;
}

.form-container, .info-container {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    height: 307px;
    margin-top: 30px;
}

.form-container {
    padding: 10px;
}

.info-container {
    align-items: center;
    justify-content: center;
}

.info-login-container p {
    font-family: Playbill;
    font-size: 1.5em;
    padding: 10px 0;
}

.info-login-container button {
    margin-top: 20px;
    padding: 15px 30px;
}

.title {
    color: var(--dark);
}

.info-line {
    color: var(--pale);
}

form {
    display: flex;
    flex-direction: column;
}

.form-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-button-wrapper button {
    width: 40%;
    padding: 20px 15px;
    margin: 7px 0;
}

.login-text {
    color: var(--orange);
    padding: 7px 0;
}

a {
    color: var(--pale);
    text-decoration: none;
    font-size: 0.9em;
    padding: 10px;
}
