.nav-section {
    background-color: var(--pale);
}

.title-section {
    background-color: var(--army);
    justify-content: center;
}

.header-content-title {
    right: 0;
    flex-basis: 200px;
    padding: 40px 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section {
    height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--army);
    flex-wrap: wrap;
}

.form-container, .info-container {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    height: 307px;
    margin-top: 30px;
}

.form-container {
    padding: 10px;
}

.info-container {
    align-items: center;
    justify-content: center;
}

.info-container p {
    font-family: Playbill;
    font-size: 1.1em;
    padding: 10px 0;
}

.info-container button {
    margin-top: 20px;
    padding: 15px 30px;
}

.title {
    color: var(--dark);
}

.info-line {
    color: var(--pale);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 20px 10px;
    margin: 7px 0;
    background-color: var(--pale);
    font-family: Playbill;
    font-size: 1.1em;
    border: none;
}

.form-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-button-wrapper button {
    width: 40%;
    padding: 20px 15px;
    margin: 7px 0;
}

h2 {
    color: var(--orange);
    padding: 7px 0;
}

a {
    color: var(--pale);
    text-decoration: none;
    font-size: 0.9em;
    padding: 10px;
}
