.subscribe-info-container {
    text-align: center;
}

.intro-line {
    font-weight: bold;
    margin-top: 70px;
}

.label-input-combi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image-preview {
    width: 100px;
}

.checkbox {
    width: 30px;
}


/*!* onduidelijk waar deze bij hoort*!*/
/*.horizontal {*/
/*    display: inline-block;*/
/*}*/

