/*.subscription-icon {*/
/*    width: 15px;*/
/*    height: 15px;*/
/*}*/

.subscription-article-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    padding: 50px 0;
    /*border: 2px dotted black*/
}


