.nav-section {
    background-color: var(--pale);
}

.title-section {
    background-color: var(--army);
    justify-content: center;
}

.header-content-title {
    right: 0;
    flex-basis: 200px;
    padding: 40px 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section {
    height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--army);
    flex-wrap: wrap;
}

.form-container, .register-info-container {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    height: 385px;
    margin-top: 30px;
}

.form-container {
    padding: 10px;
}

.register-info-container {
    align-items: center;
    justify-content: flex-end;
    flex-basis: 350px;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 20px 10px;
    margin: 7px 0;
    background-color: var(--pale);
    font-family: Playbill;
    font-size: 1.1em;
    border: none;
}

.form-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.form-button-wrapper button {
    width: 40%;
    padding: 20px 15px;
    margin: 7px 0;
}

h2 {
    color: var(--orange);
    padding: 7px 0;
}

.register-info-container img {
    width: 88%;
    padding: 20px 10px 25px 10px;
}

.loading-login {
    color: var(--pale);
}