.horsename {
    width: 350px;
    padding: 8px 15px;
    font-weight: bold;
}

.head-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 20px;
    background-color: var(--faded-army);
}

.horse-wrapper {
    margin: 20px 0;
}

.profile-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 30px 0;
    margin-left: 30px;
    width: 355px;
}

.profile-form input, select {
    padding: 3px;
    border: 2px solid var(--orange);
    border-radius: 5px;
    margin: 2px 0;
    font-size: 18px;
    width: 250px;
}

.profile-form select {
    font-family: Playbill;
}

.profile-form label {
    font-weight: bold;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horse-edit-button-wrapper {
    width: 550px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.table-form-container {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.success {
    padding: 30px;
}

.cancellation-container {
    padding: 30px;
}

.cancellation-container p {
    margin-bottom: 10px;
}

.cancellation-container button {
    margin-top: 20px;
}

.passport-image {
    border: 2px solid var(--faded-army);
    border-radius: 3px;
    padding: 3px;
    max-width: 200px;
    max-height: 300px;
    background-color: var(--faded-army);
    box-shadow: 4px 4px 10px var(--army);
}

.profile-menu {
    margin-bottom: 30px;
}

.price-display {
    text-align: center;
    padding: 10px 20px 20px 20px;
}

