.feature-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3px;
    width: 100%;
    margin: 30px 0;
}

.reversed-direction {
    flex-direction: row-reverse;
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--army);
    color: var(--pale);
    flex-basis: 431px;
    /*height: 380px;*/
    padding: 30px;
}

.feature-text-item img {
    width: 30px;
    margin-right: 20px;
}

.feature-text h3 {
    padding: 10px;
}

.feature-text-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.feature-text h3 + .feature-text-item {
    margin-top: 16px;
}

.feature-image {
    /*background-color:hsl(54 8% 53%);*/
    background-color: var(--faded-army);
    flex-basis: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 7px solid var(--pale);
}
.dark-border {
    border: 7px solid var(--faded-army);
}

@media screen and (max-width: 620px) {
    .feature-image {
        border: 8px solid var(--faded-army);
    }
}