/*input {*/
/*    width: 100%;*/
/*    padding: 20px 10px;*/
/*    margin: 7px 0;*/
/*    background-color: var(--pale);*/
/*    font-family: Playbill;*/
/*    font-size: 1.1em;*/
/*    border: none;*/
/*}*/

.persona-form {
    font-weight: bold;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}