.default-table {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    margin: 33px 0 20px 0;
}

.admin-table {
    border-collapse: collapse;
    border: 2px solid var(--orange);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 80px;
}

.admin-table td {
    border: 2px solid var(--orange);
    padding: 0.8em;
}

.admin-table th {
    padding: 0.8em;
}

.admin-table tr {
    border: 2px solid var(--orange);
    border-radius: 5px;
}

.admin-table tr:hover {
    background-color: var(--orange);
}

.default-table-head {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 250px;
}

.admin-table-head th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}

.table-head-item {
    padding: 5px 0;
    text-align: start;
}

.edit-table-head {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 160px;
}