@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

/* Table of Contents
   1.Global Styles
   2.Typography
   3.Layout
        3.1 Reusables
        3.2 Other
   4.Areas
        4.1 Header Nav
        4.2 Header img
        4.3 Intro Section
        4.4 USP Section
        4.5 Feature Section
        4.6 Testimonial Section
 */
 /*
   5.Media Queries
  //////////////////////////// */

/*     ------------------ 1. Global Styles ----------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*      ------------------ 2. Typography ------------------------------*/
body {

}

h1 {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Playbill", Source Code Pro;
    font-weight: 400;
}

/*      ------------------ 3. Layout -------------------------------------*/

/*      ---------- 3.1 Reusables --------------------------------------*/

button {
    background-color: var(--army);
    color: var(--pale);
    font-weight: bold;
    border-radius: 6px;
    border: none;
    padding: 7px 15px;
}

/*      ---------- 3.2 Others -------------------------------*/

/*      ------------------ 4. Area's ------------------*/

/*      ---------- 4.1 Header nav----------------*/

.header-section {
    background-color: #e8e0c5;
    color: #5b594C;
    text-align: center;
}

/*      ---------- 4.2 Header img ----------------*/

/*      ---------- 4.3 Intro Section -------------------*/

/*      ---------- 4.3 USP Section -------------------*/

/*      ---------- 4.3 Feature Section -------------------*/

/*      ---------- 4.3 testimonial Section -------------------*/
