@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

/* Table of Contents
   1.Global Styles
   2.Typography
   3.Layout
        3.1 Reusables
        3.2 Other
   4.Areas
        4.1 Header
        4.2 Intro Section
        4.3 USP Section
        4.4 Feature Section
        4.5 Testimonial Section
 */
 /*
   5.Media Queries
  //////////////////////////// */

/*     ------------------ 1. Global Styles ----------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*      ------------------ 2. Typography ------------------------------*/
body {

}

h1 {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Playbill", Source Code Pro;
    font-weight: 400;
}

/*      ------------------ 3. Layout -------------------------------------*/

/*      ---------- 3.1 Reusables --------------------------------------*/

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}


button {
    background-color: var(--army);
    color: var(--pale);
    font-weight: bold;
    border-radius: 6px;
    border: none;
    padding: 7px 15px;
}

/*      ---------- 3.2 Others -------------------------------*/

/*      ------------------ 4. Area's ------------------*/

.outer-container {
    background-color: var(--army);
}

.inner-container {
    background-color: var(--pale);
}

/*      ---------- 4.1 Header ----------------*/

/*.header-section {*/
/*    background-color: var(--army);*/
/*    !*color: #5b594C;*!*/
/*    !*text-align: center;*!*/
/*}*/

.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-navigation h2 {
    flex-basis: 160px;
    padding: 10px;
    margin-left: 60px;
    background-color: var(--dark);
    text-align: center;
    border-radius: 50%;
}

.header-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 630px;
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

.header-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--dark);
}

.header-content-image {
    flex-basis: 600px;
    /*border: 2px dotted orange;*/
}

.header-content-logo {
    text-align: center;
    flex-basis: 800px;
    /*border: 2px solid white;*/
}

.header-content-dummy {
    flex-basis: 800px;
}

/*      ---------- 4.2 Intro Section -------------------*/

.intro-text-wrapper {
    max-width: 800px;
    text-align: center;
}

.intro-section h2 {
    padding: 50px 0;
}

.intro-image-wrapper {
    padding: 40px 0;
    max-width: 1300px;
    margin: 30px 0;
    /*border: 2px solid hotpink;*/
}

.intro-image {
    width: 300px;
    padding: 0 10px;
}

.intro-section img {
    max-width: 350px;

}

/*      ---------- 4.3 USP Section -------------------*/

.usp-section h2 {
    padding: 20px 10px;
    margin-top: 40px;
    /*border: 2px solid deeppink;*/
}

.usp-article-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 50px 10px;
    margin: 20px 0 50px 0;
    max-width: 900px;
    /*border: 2px solid black;*/
}

.usp-article img {
    max-width: 50px;
    width: 50px;
    padding: 20px 0;
    /*margin: 16px 0;*/
}

.usp-article {
    text-align: center;
    flex-basis: 100px;
    /*border: 2px solid crimson;*/
}

.usp-button img {
    max-width: 90px;
}

.usp-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    /*border: 2px solid darkgreen;*/
}


/*      ---------- 4.4 Feature Section -------------------*/

/*      ---------- 4.5 testimonial Section -------------------*/
