@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

/* Table of Contents
   1.Global Styles
   2.Typography
   3.Layout
        3.1 Reusables
        3.2 Other


/*     ------------------ 1. Global Styles ----------------------------*/

:root {
    --pale: #e8e0c5;
    --army: #5b594c;
    --faded-army: #918f7e;
    --orange: #f88a08;
    --dark: #1c1c1e;

    /*font-synthesis: none;*/
    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/*      ------------------ 2. Typography ------------------------------*/

body {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    line-height: 1.1;
    color: var(--army);
}

h1 {
    font-family: "Jim Nightshade", cursive;
    color: var(--orange);
    font-weight: 400;
    font-style: normal;
    font-size: 2.2em;
    /*line-height: 1.1;*/
}

h2 {
    font-family: "Playbill", Source Code Pro;
    font-weight: 400;
    color: var(--army);
}

header h2 {
    font-family: "Jim Nightshade", cursive;
    font-style: normal;
    font-weight: 400;
    color: var(--orange);
}

.italic {
    font-style: italic;
}

button, a {
    font-family: inherit;
    font-size: inherit;
}

input {
    width: 100%;
    padding: 20px 10px;
    margin: 7px 0;
    background-color: var(--pale);
    font-family: Playbill;
    font-size: 1.1em;
    border: none;
}

a:link {
    color: var(--dark);
}

/*//deze zolang uitgezet omdat anders color in NaLink domineert*/
a:visited {
    /*color: var(--orange);*/
}

.error {
    margin: 40px 0;
    color: darkred;
    padding: 5px;
}

.form-error {
    color: darkred;
}

.form-error-login {
    color: var(--orange);
    font-weight: bold;
}

.loading-login {
    color: var(--pale);
}


/*      ------------------ 3. Layout -------------------------------------*/

/*      ---------- 3.1 Reusables --------------------------------------*/

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--army);
}

.inner-container {
    flex-basis: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    background-color: var(--pale);
}

.content-container {
    flex-basis: 1000px;
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

/*      ---------- 3.2 Others -------------------------------*/
.inverted-header {
    background-color: var(--army);
    flex-direction: row;
}

.outer-profile-container {
    background-color: var(--pale);
    min-height: 100vh;
}

.inner-profile-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.intro-section h2 {
    padding: 50px 0;
}

.usp-section h2 {
    padding: 10px;
    margin-top: 20px;
}

.feature-article-wrapper {
    margin: 40px 0;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    background-color: var(--faded-army);
}


.feature-section h2 {
    /*margin-top: 50px;*/
}


.colored {
    /*background-color: var(--faded-army);*/
}


.pale {
    background-color: var(--pale);
}

.login-nav-section {
    background-color: var(--pale);

}

.login-header-section {
    background-color: var(--army);
    justify-content: center;
}

.login-content-section {
    height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--army);
    flex-wrap: wrap;
}

.nav-portal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 230px;
    list-style: none;
    margin: 0 10px;
}

.profile-icon {
    background-color: var(--faded-army);
    color: var(--dark);
    font-weight: bold;
    padding: 18px;
    border: 3px solid var(--pale);
    border-radius: 50%;
}

.side-nav {
    border-right: 3px solid var(--army);
    flex-basis: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 20px 10px;
    height: 100%;
}

.side-nav Button {
    margin: 10px 0;
}

.intro-content-wrapper {
    padding: 20px;
}


.table-body {
    display: flex;
    flex-direction: column;
}


td {
    text-align: start;
    padding: 5px;
}

.horse-info-container {
    display: flex;
    flex-direction: column;


}

.horse-info-container select {
    border: 2px solid var(--orange);
    border-radius: 5px;
    padding: 2px 5px;
}

.footer-info-section {
    background-color: var(--army);
    color: var(--pale);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-close-section {
    padding: 25px 0;
    font-size: 16px;
}


.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 30px 0;
    width: 350px;
}

.title-wrapper img {
    padding: 0;
}

.star-image {
    width: 70px;
    padding: 50px 10px 10px 10px;
}

select, option {
    background-color: var(--pale);
    padding: 5px;
}

@media screen and (max-width: 992px) {

    p, button {
        font-size: 0.9em;
    }

    .closing-outer {
        background-color: var(--pale);
    }
}

@media screen and (max-width: 820px) {

    .footer-close-section {
        font-size: 15px;
    }
}

@media screen and (max-width: 620px) {

    p, button {
        font-size: 0.9em;
    }

    .outer-container {
        background-color: var(--pale);
    }

    .feature-article-wrapper {
        background-color: var(--pale);
    }

    .footer-info-outer {
        background-color: var(--army);
    }

    .footer-close-section {
        font-size: 10px;
    }
}