.intro-text-wrapper {
    max-width: 800px;
    text-align: center;
    margin-top: 20px;
}

.intro-text-wrapper p {
    padding: 5px 10px;
}


@media screen and (max-width: 620px) {

    .intro-text-wrapper p {
        padding: 0;
    }
}